{% extends 'base.html' %}
{% block content %}

<h1>Dog Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card yellow lighten-4">
      <div class="card-content">
        <span class="card-title">{{ dog.name }}</span>
        <p>Breed: {{ dog.breed }}</p>
        <p>Description: {{ dog.description }}</p>
        {% if dog.age > 0 %}
          <p>Age: {{ dog.age }}</p>
        {% else %}
          <p>Age: Puppy</p>
        {% endif %}
      </div>
      <div class="card-action">
        <a class="orange-text text-accent-4" href="{% url 'dogs_update' dog.id %}"><i class="material-icons">edit</i></a>
        <a class="orange-text text-accent-4" href="{% url 'dogs_delete' dog.id %}"><i class="material-icons">delete_forever</i></a>
      </div>
    </div>
    <!-- Insert photo markup below this comment -->
    {% for photo in dog.photo_set.all %}
      <img class="responsive-img card-panel" src="{{photo.url}}">
    {% empty %}
      <div class="card-panel teal-text center-align yellow lighten-4">No Photos Uploaded</div>
    {% endfor %}

    <form action="{% url 'add_photo' dog.id %}" enctype="multipart/form-data" method="POST" class="card-panel  yellow lighten-4">
      {% csrf_token %}
      <input type="file" name="photo-file">
      <br><br>
      <input type="submit" class="btn orange accent-4" value="Upload Photo">
    </form>

  </div>
  <div class="col s6">
    <form action="{% url 'add_feeding' dog.id %}" method="post">
        {% csrf_token %}
        {{ feeding_form.as_p }}
        <input type="submit" class="btn orange accent-4" value="Add Feeding">
    </form>
    <br>
    {% if dog.fed_for_today %}
      <div class="card-panel teal-text center-align yellow lighten-4">{{dog.name}} has been fed all meals for today</div>
    {% else %}
      <div class="card-panel red-text center-align yellow lighten-4">{{dog.name}} might be hungry</div>
    {% endif %}
    <table class="striped">
      <thead>
        <tr><th>Date</th><th>Meal</th></tr>
      </thead>
      <tbody>
        {% for feeding in dog.feeding_set.all %}
          <tr>
            <td>{{feeding.date}}</td>
            <td>{{feeding.get_meal_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<hr>
<div class="row">
  <div class="col s6">
    <h3>{{ dog.name }}'s Toys</h3>
    {% if dog.toys.count %}
      {% for toy in dog.toys.all %}
        <div class="card yellow lighten-4">
          <div class="card-content">
            <span class="card-title">
              A <span style="color: {{ toy.color }}">{{ toy.color }}</span> {{ toy.name }}
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'unassoc_toy' dog.id toy.id %}" method="post">
                {% csrf_token %}
              <button type="submit" class="btn orange accent-4">Remove</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No Toys :(</h5>
    {% endif %}
  </div>

  <div class="col s6">
    <h3>Available Toys</h3>
    {% if toys.count %}
      {% for toy in toys.all %}
        <div class="card yellow lighten-4">
          <div class="card-content">
            <span class="card-title">
              A <span style="color: {{ toy.color }}">{{ toy.color }}</span> {{ toy.name }}
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_toy' dog.id toy.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn orange accent-4">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>{{dog.name}} Already Has All Toys Available</h5>
    {% endif %}
  </div>

<script>
    var dateEl = document.getElementById('id_date');
    M.Datepicker.init(dateEl, {
        format: 'yyyy-mm-dd',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
    });
    // add addtional JS to initialize select below
    var selectEl = document.getElementById('id_meal');
    M.FormSelect.init(selectEl);
</script>
{% endblock %}

